/* Colors */
:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(
      to right,
      hsl (187, 85%, 43%),
      hsl (199, 100%, 33%)
    );
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
  }

.leftside {
    background: var(--PrimaryColor);
    height: 100vh;
    color: #fff;
    width: 20%;
    height: 120vh;
}

.items {
  margin: 2rem 0;
}

.item {
  display: block;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: capitalize;
}

